</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane-departure fa-fade"></i>
    <a href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>>
    ADD FLIGHTS
    </a>
    <a href="/flights" class=<%= title === 'All Movies' ? 'active' : '' %>>
    ALL FLIGHTS
    </a>
  </nav>